<?xml version="1.0" encoding="UTF-8"?>

<!-- 
QuizFun - A quiz game
Copyright (C) 2008

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- the parent application context definition for the QuizFun application -->

	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/quizfun" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>quizfun/model/entity/Course.hbm.xml</value>
				<value>quizfun/model/entity/Module.hbm.xml</value>
				<value>quizfun/model/entity/Question.hbm.xml</value>
				<value>quizfun/model/entity/Answer.hbm.xml</value>
				<value>quizfun/model/entity/User.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<!-- DAOs - Start -->
	<bean id="courseDao" class="quizfun.model.dao.HibernateCourseDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="moduleDao" class="quizfun.model.dao.HibernateModuleDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userDao" class="quizfun.model.dao.HibernateUserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- DAOs - End -->

	<!-- Services - Start -->
	<bean id="courseService" class="quizfun.model.service.CourseServiceImpl">
		<property name="courseDao" ref="courseDao" />
	</bean>
	<bean id="moduleService" class="quizfun.model.service.ModuleServiceImpl">
		<property name="moduleDao" ref="moduleDao" />
	</bean>
	<bean id="userService" class="quizfun.model.service.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<!-- Services - End -->
</beans>
